<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Define the content fragment inside the template -->
<div th:fragment="content">
	<div th:replace="fragments/header :: header"></div>
    <h2>Add Quiz Result</h2>
    <form th:action="@{/app/quiz-results/save}" th:object="${result}" method="post">
      <input type="hidden" th:field="*{id}"/>
      <div class="mb-3">
        <label>Quiz</label>
        <select class="form-select" th:field="*{quizManagement.id}">
          <option th:each="q : ${quizzes}" th:value="${q.id}" th:text="${q.title}"></option>
        </select>
      </div>
      <div class="mb-3">
        <label>Student</label>
        <select class="form-select" th:field="*{student.id}">
          <option th:each="s : ${students}" th:value="${s.id}" th:text="${s.studentName}"></option>
        </select>
      </div>
      <div class="mb-3">
        <label>Score</label>
        <input class="form-control" th:field="*{score}" type="number"/>
      </div>
      <button class="btn btn-primary">Save</button>
      <a class="btn btn-secondary" th:href="@{/app/quiz-results}">Cancel</a>
    </form>
  </div>
  <!-- This is the only thing that should render the layout -->
  <div th:replace="~{layout :: layout(~{::content})}"></div>
</html>
