<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">
    <div th:replace="~{fragments/header :: header}"></div>
    <h2 th:text="${subject != null and subject.id != null ? 'Edit Subject' : 'New Subject'}"></h2>
    <form th:action="@{/app/subjects/save}" th:object="${subject}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label>Classroom</label>
            <select class="form-select" th:field="*{classRoom}">
                <option th:each="c : ${classRoomList}" th:value="${c.id}" th:text="${c.className}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label>Subject Name</label>
            <input type="text" class="form-control" th:field="*{subjectName}" placeholder="Enter subject name"/>
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea class="form-control" th:field="*{description}" placeholder="Enter description"></textarea>
        </div>

        <button class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" th:href="@{/app/subjects}">Cancel</a>
    </form>
</div>

<!-- Render the layout -->
<div th:replace="~{layout :: layout(~{::content})}"></div>
</html>
