<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Define the content fragment inside the template -->
<div th:fragment="content">
    <div th:replace="~{fragments/header :: header}"></div>
    <h2 th:text="${classroom != null and classroom.id != null ? 'Edit classroom' : 'New classroom'}"></h2>
    <form th:action="@{/app/classroom/save}" th:object="${classroom}" method="post">
        <input type="hidden" th:field="*{id}" />
        
        <div class="mb-3">
            <label>Country</label>
            <select class="form-select" th:field="*{country}">
                <option th:each="c : ${countryList}" th:value="${c.id}" th:text="${c.countryName}"></option>
            </select>
        </div>
        
        <div class="mb-3">
            <label>Class Name</label>
            <input type="text" class="form-control" th:field="*{className}" placeholder="Enter class name"/>
        </div>
        
        <div class="mb-3">
            <label>Description</label>
            <textarea class="form-control" th:field="*{description}" placeholder="Enter description"></textarea>
        </div>
        
        <button class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" th:href="@{/app/classroom}">Cancel</a>
    </form>
</div>

<!-- Render the layout -->
<div th:replace="~{layout :: layout(~{::content})}"></div>
</html>
