<!-- fragments/sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebarFragment">
	<aside class="sidebar">
				<div class="sidebar-logo">LearnHub</div>
				<ul class="sidebar-menu">
					<li><a href="/app/admin/dashboard" class="sidebar-link" th:classappend="${activePage == 'dashboard'} ? ' active'"><i data-feather="grid"></i>Dashboard</a></li>
					<li><a href="/app/admin/classes" class="sidebar-link" th:classappend="${activePage == 'classes'} ? ' active'"><i data-feather="book-open"></i>Classes</a></li>
					<li><a href="/app/admin/subjects" class="sidebar-link" th:classappend="${activePage == 'subjects'} ? ' active'"><i data-feather="file-text"></i>Subjects</a></li>
					<li><a href="/app/admin/topics" class="sidebar-link" th:classappend="${activePage == 'topics'} ? ' active'"><i data-feather="bookmark"></i>Topics</a></li>
					<li><a href="/app/admin/questions" class="sidebar-link" th:classappend="${activePage == 'questions'} ? ' active'"><i data-feather="award"></i>Questions</a></li>
					<li><a href="/app/admin/topic/topicgenerator" class="sidebar-link" th:classappend="${activePage == 'topicgenerator'} ? ' active'"><i data-feather="award"></i>Generate Topics</a></li>
					<li><a href="/app/admin/questions/genericQuestionGenerator" class="sidebar-link" th:classappend="${activePage == 'genericQuestionGenerator'} ? ' active'"><i data-feather="award"></i>Generate Questions</a></li>
					<li><a href="/app/admin/students" class="sidebar-link" th:classappend="${activePage == 'students'} ? ' active'"><i data-feather="users"></i>Students</a></li>
				</ul>

				<div class="sidebar-footer">
							<div class="user-info">
								<div class="user-name" th:text="${studentName}"><span th:text="${session.USER_NAME}">User Name</span></div>
								<div class="user-role"><span th:text="${session.USER_ROLE}">User Name</span></div>
							</div>
							<a th:href="@{/app/logout}" class="btn btn-secondary btn-sm">Logout</a>
						</div>
			</aside>
</div>

</html>