<!-- fragments/sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebarFragment">
	<aside class="sidebar">
		<div class="sidebar-logo">LearnHub</div>

		<ul class="sidebar-menu">
			<li>
				<a th:href="@{/app/student/dashboard}" class="sidebar-link"
					th:classappend="${activePage == 'dashboard'} ? ' active'">
					<i data-feather="grid"></i> Dashboard
				</a>
			</li>
			<li>
				<a href="/app/student/subjects/classid/13" class="sidebar-link" th:classappend="${activePage == 'subjects'} ? ' active'">
					<i data-feather="bookmark"></i> Subjects
				</a>
			</li>
			<li>
				<a th:href="@{/app/student/progress}" class="sidebar-link"
					th:classappend="${activePage == 'progress'} ? ' active'">
					<i data-feather="award"></i> My Progress
				</a>
			</li>
		</ul>

		<div class="sidebar-footer">
			<div class="user-info">
				<div class="user-name" th:text="${studentName}"><span th:text="${session.USER_NAME}">User Name</span></div>
				<div class="user-role"><span th:text="${session.USER_ROLE}">User Name</span></div>
			</div>
			<a th:href="@{/app/logout}" class="btn btn-secondary btn-sm">Logout</a>
		</div>
	</aside>
</div>

</html>