<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<!-- Header with Banner -->
	<header class="header">

		<div class="header-content">
			<div class="logo">MyDashboard</div>
			<nav class="nav">
				<a href="#">Home</a>
				<a href="#">Profile</a>
				<a href="#">Settings</a>
				<a href="#">Logout</a>
			</nav>
		</div>
	</header>
	<div class="container auth">
		<h2>Login</h2><br>
		<form th:action="@{/doLogin}" method="post">
			<label>Email<input name="username" type="email" required /></label><br>
			<label>Password<input name="password" type="password" required /></label><br>
			<div><button class="btn" type="submit">Login</button></div><br>
		</form>
		<br><p>Don't have an account? <a th:href="@{/register}">Register</a></p>
	</div>
</body>

</html>